.Header {
    display: flex;
    text-align: center;
    width: 100vw;
    margin: 20px;
    position: relative;
}

h1 {
    color: var(--primary--text);
    margin-right: 80vw;
}


.Kropki {
    position: absolute;
    left: -20vw;
    top: -65vh;
    overflow: hidden;
    opacity: 0.1;
    animation: rotate 160s linear infinite;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg);}
}

.Kolko {
    position: absolute;
    width: 600px;
    left: 900px;
    top: -50px;
    opacity: 0.1;
    overflow: hidden;

}