.Header {
    display: flex;
    text-align: center;
    margin: 20px 0 20px 20px;
    position: relative;
    justify-content: space-between;
}

h1 {
    color: var(--primary--text);
    text-shadow: 2px -1px var(--bg--color);
}

.Dots {
    position: absolute;
    left: -20vw;
    top: -20vw;
    overflow: hidden;
    opacity: 0.1;
    animation: rotate 160s linear infinite;
    width: 40vw;
    height: 40vw;
}

.DotsWithoutSpinning{
    animation: none;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg);}
}

.Circle {
    position: absolute;
    width: 30vw;
    left: 50vw;
    top: 10vh;
    opacity: 0.1;
    overflow: hidden;
}
