.Header {
    display: flex;
    text-align: center;
    width: 100vw;
    margin: 20px;
    position: relative;
    justify-content: space-between;
}

h1 {
    color: var(--primary--text);
}


.Kropki {
    position: absolute;
    left: -20vw;
    top: -20vw;
    overflow: hidden;
    opacity: 0.1;
    animation: rotate 160s linear infinite;
    width: 40vw;
    height: 40vw;
}

.KropkiWithoutSpinning{
    animation: none;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg);}
}

.Kolko {
    position: absolute;
    width: 40vw;
    left: 50vw;
    top: 10vh;
    opacity: 0.1;
    overflow: hidden;

}