.Lists {
    width: 15%;
    background: rgba(0, 0 ,0, 0.20);
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.09));
    min-height: 50%;
    /* border: 1px solid var(--primary--text); */
    border-radius: 5px;
    margin: 20px;
    position: relative;
}

.P {
    font-weight: bold;
    color: var(--primary--text);
    margin: 10px 0;
    text-transform: capitalize;
    
}

.Input {
    outline: none;
    border: none;
    width: 80%;
    height: 22px;
    background: var(--primary--text);
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 10px;
    background: linear-gradient(30deg, var(--primary--text), white);
    
}

.Button {
    border: none;
    /* border-radius: 50%; */
    outline: none;
    background-color: rgba(0, 0 ,0, 0.01);
    font-size: 30px;
    

}

.Button:hover {
    cursor: pointer;
}

::placeholder {
    opacity: 1;
    color: black;
}
