* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* UI Colors */
    --primary--text: #f8a1d1;
    --color--primary--dark: #b34180;
    --color--primary--light: #e36bae;
    --color--white: rgb(232, 240, 254);
    --color--primary--hover: hsl(235, 44%, 51%);
    --bg--color: #822659;
    /* --color--primary--active: hsl(var(--primary-hue), 84%, 30%); */
}
html {
    width: 100vw;
    height: 100vh;
    background: var(--bg--color);
    padding: 0;
    color: #161d6f;
    background: linear-gradient(45deg, var(--bg--color), var( --primary--text));
}

.Kropki {
    position: absolute;
    left: -20vw;
    top: -65vh;
    overflow: hidden;
    opacity: 0.1;
    animation: rotate 160s linear infinite;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg);}
}

.Kolko {
    position: absolute;
    width: 600px;
    left: 900px;
    top: -50px;
    opacity: 0.1;
    overflow: hidden;

}
/* #161d6f - kolor czarny tekst 
#98ded9 - ciemno zielony
#c7ffd8 - jasno zielony
#f6f6f6 - bialy
hsl(235, 44%, 51%) - czcionka hover */