* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* UI Colors */
    --primary--text: #f8a1d1;
    --color--primary--dark: #b34180;
    --color--primary--light: #e36bae;
    --color--white: rgb(232, 240, 254);
    --color--primary--hover: hsl(235, 44%, 51%);
    --bg--color: #822659;
}

html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow: scroll;
    background: linear-gradient(45deg, var(--bg--color), var( --primary--text));
}

/* #161d6f - kolor czarny tekst 
#98ded9 - ciemno zielony
#c7ffd8 - jasno zielony
#f6f6f6 - bialy
hsl(235, 44%, 51%) - czcionka hover */
